/* responsive for mobile device */
@media screen and (max-width:576px) {
    .nav-bar{
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-items{
        display: none;
    }
    .nav-menu{
        display:contents;
    }
    .nav-menu img{
        width: 24px;
    }
    .banner-container{
        flex-direction: column;
    }
    /* .banner-contant{
        
    } */
    .banner-title{
        font-size: 2.25rem;
        width: 60%;
        padding-left: 20px;
    }
    .banner-description{
        width: 65%;
        padding-left: 20px;
    }
    .banner-image-content-2{
        top: 50%;
        left: 0%;
    }
    .banner-image-content-1{
        top: 10%;
        left: 48%;
    }
    .banner-btn-1,.banner-btn-2{
        padding:13px 35px;
        margin-left: 10px;
        margin-right: 0px;
        font-weight: 400;
        max-width: 45%;
    }
    .habit-card-container{
        grid-template-columns: repeat(1,1fr);
        gap: 36px;
        padding: 0px 55px;
    }
    .habit-title{
        font-size: 2rem;
    }
    .run{
        padding: 35px 33px;
        margin: 0px 20px;
    }
    .run-container{
        flex-direction: column;
        gap: 31px;
    }
    .run-btn{
        width: 100%;
    }
    .run-image{
        width: 100%;
    }

    .bmi-part1,
    .bmi-contant{
        margin: 0px 20px;
    }
    .bmi-contant{
        flex-direction: column;
    }
    .bmi-calculator {
        max-width: 100%;
    }
    .bmi-title{
        font-size: 2rem;
    }
    .bmi-calculator input,
    .bmi-calculator select{
        width: 45%;
        padding: 12px 0px 12px 3.472vw;
    }

    .meet{
        padding: 66px 33px;
    }
    .meet-title{
        font-size: 2rem;
    }
    .meet-container{
        grid-template-columns: repeat(1,1fr);
    }
    .meet-image{
        max-height: 272px;
        height: 100%;
    }

    .unique{
        padding-left: 30px;
        padding-right: 30px;
    }

    .unique-container{
        grid-template-columns: repeat(1,1fr);
    }
    .unique-title{
        font-size: 1.75rem;
    }




    .footer{
        padding-left: 33px;
        padding-right: 33px;
    }
    .footer-container{
        flex-direction: column;
        gap: 30px;
    }
    .footer-links{
        flex-direction: column;
        gap: 20px;
    }
    .footer-branding{
        max-width: 100%;
    }
}